In [19]:
# importing os for input / output operation.
import os
os.chdir("D:/R and PYTHON files/csv output")# set your own working directory
os.getcwd()
# importing the necessary library package for data operation and visualization. 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# reading the data into python environment
df1=pd.read_excel("Takenmind_intern.xlsx",sheet_name='3')# left employee data set
df2=pd.read_excel("Takenmind_intern.xlsx",sheet_name='2')# existing employee data set
df3=pd.read_excel("Takenmind_intern.xlsx",sheet_name='4')# combined dataset for model preparation.

,Emp ID,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,dept,salary,Whether the employee has left
0,1,0.38,0.53,2,157,3,0,0,sales,low,yes
1,2,0.80,0.86,5,262,6,0,0,sales,medium,yes
2,3,0.11,0.88,7,272,4,0,0,sales,medium,yes
3,4,0.72,0.87,5,223,5,0,0,sales,low,yes
4,5,0.37,0.52,2,159,3,0,0,sales,low,yes
5,6,0.41,0.50,2,153,3,0,0,sales,low,yes
6,7,0.10,0.77,6,247,4,0,0,sales,low,yes
7,8,0.92,0.85,5,259,5,0,0,sales,low,yes
8,9,0.89,1.00,5,224,5,0,0,sales,low,yes
9,10,0.42,0.53,2,142,3,0,0,sales,low,yes
10,11,0.45,0.54,2,135,3,0,0,sales,low,yes
11,12,0.11,0.81,6,305,4,0,0,sales,low,yes
12,13,0.84,0.92,4,234,5,0,0,sales,low,yes
13,14,0.41,0.55,2,148,3,0,0,sales,low,yes
14,15,0.36,0.56,2,137,3,0,0,sales,low,yes
15,16,0.38,0.54,2,143,3,0,0,sales,low,yes
16,17,0.45,0.47,2,160,3,0,0,sales,low,yes
17,18,0.78,0.99,4,255,6,0,0,sales,low,yes
18,19,0.45,0.51,2,160,3,1,1,sales,low,yes
19,20,0.76,0.89,5,262,5,0,0,sales,low,yes
20,21,0.11,0.83,6,282,4,0,0,sales,low,yes
21,22,0.38,0.55,2,147,3,0,0,sales,low,yes
22,23,0.09,0.95,6,304,4,0,0,sales,low,yes
23,24,0.46,0.57,2,139,3,0,0,sales,low,yes
24,25,0.40,0.53,2,158,3,0,0,sales,low,yes
25,26,0.89,0.92,5,242,5,0,0,sales,low,yes
26,27,0.82,0.87,4,239,5,0,0,sales,low,yes
27,28,0.40,0.49,2,135,3,0,0,sales,low,yes
28,29,0.41,0.46,2,128,3,0,0,accounting,low,yes
29,30,0.38,0.50,2,132,3,0,0,accounting,low,yes
...,...,...,...,...,...,...,...,...,...,...,...
14969,14970,0.43,0.46,2,157,3,0,0,sales,medium,yes
14970,14971,0.78,0.93,4,225,5,0,0,sales,medium,yes
14971,14972,0.39,0.45,2,140,3,0,0,sales,medium,yes
14972,14973,0.11,0.97,6,310,4,0,0,accounting,medium,yes
14973,14974,0.36,0.52,2,143,3,0,0,accounting,medium,yes
14974,14975,0.36,0.54,2,153,3,0,0,accounting,medium,yes
14975,14976,0.10,0.79,7,310,4,0,0,hr,medium,yes
14976,14977,0.40,0.47,2,136,3,0,0,hr,medium,yes
14977,14978,0.81,0.85,4,251,6,0,0,hr,medium,yes
14978,14979,0.40,0.47,2,144,3,0,0,hr,medium,yes
14979,14980,0.09,0.93,6,296,4,0,0,technical,medium,yes
14980,14981,0.76,0.89,5,238,5,0,0,technical,high,yes
14981,14982,0.73,0.93,5,162,4,0,0,technical,low,yes
14982,14983,0.38,0.49,2,137,3,0,0,technical,medium,yes
14983,14984,0.72,0.84,5,257,5,0,0,technical,medium,yes
14984,14985,0.40,0.56,2,148,3,0,0,technical,medium,yes
14985,14986,0.91,0.99,5,254,5,0,0,technical,medium,yes
14986,14987,0.85,0.85,4,247,6,0,0,technical,low,yes
14987,14988,0.90,0.70,5,206,4,0,0,technical,low,yes
14988,14989,0.46,0.55,2,145,3,0,0,technical,low,yes
14989,14990,0.43,0.57,2,159,3,1,0,technical,low,yes
14990,14991,0.89,0.88,5,228,5,1,0,support,low,yes
14991,14992,0.09,0.81,6,257,4,0,0,support,low,yes
14992,14993,0.40,0.48,2,155,3,0,0,support,low,yes
14993,14994,0.76,0.83,6,293,6,0,0,support,low,yes
14994,14995,0.40,0.57,2,151,3,0,0,support,low,yes
14995,14996,0.37,0.48,2,160,3,0,0,support,low,yes
14996,14997,0.37,0.53,2,143,3,0,0,support,low,yes
14997,14998,0.11,0.96,6,280,4,0,0,support,low,yes
14998,14999,0.37,0.52,2,158,3,0,0,support,low,yes

In [20]:
# importing the libraries for model preparation
import sklearn
from sklearn import tree
from sklearn.metrics import accuracy_score
# library for making the data partion for train and test
from sklearn.model_selection import train_test_split

In [21]:
# converting the characters to integer by assigning the levels in features like department and salary.
def score_to_numeric(x):
    if x=='sales':
        return 1
    if x=='accounting':
        return 2
    if x=='hr':
        return 3
    if x=='technical':
        return 4
    if x=='support':
        return 5
    if x=='management':
        return 6
    if x=='IT':
        return 7
    if x=='product_mng':
        return 8
    if x=='marketing':
        return 9
    if x=='RandD':
        return 10
df3['dept']=df3['dept'].apply(score_to_numeric)

def score_to_numeric(x):
    if x=='low':
        return 1
    if x=='medium':
        return 2
    if x=='high':
        return 3
df3['salary']=df3['salary'].apply(score_to_numeric)
df3['dept']=df3['dept'].astype('float')
df3['salary']=df3['salary'].astype('float')

In [23]:
# data is made into two parts train and test data for model, in order to predict the new test cases. 
x=df3.values[:,0:10]
y=df3.values[:,10]
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)
# fitting the decision tree classifier.
clf=tree.DecisionTreeClassifier(criterion='entropy')

In [24]:
# DecisionTreeClassifier
clf.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [25]:
# predicting  for the test cases 
predictions=clf.predict(xtest)

In [26]:
predictions

array(['yes', 'no', 'no', ..., 'no', 'no', 'yes'], dtype=object)

In [30]:
# checking the accuracy of the model.
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,predictions)
cm=pd.crosstab(ytest,predictions)

In [31]:
cm

col_0    no  yes
row_0
no     2309    1
yes       0  690

In [32]:
tn=cm.iloc[0,0]
fn=cm.iloc[1,0]
tp=cm.iloc[1,1]
fp=cm.iloc[0,1]

In [33]:
# accuracy of model
accuracy_score(ytest,predictions)*100

99.96666666666667

In [34]:
# false negative rate
((fn)*100)/(fn+tp)

0.0